<div class="container">
  <!-- call onServerAdded and onBlueprintAdded from serverCreated and blueprintCreated events emitter binded to cokpit component -->
  <app-cokpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"></app-cokpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- bind serverElement to srvElement property of server-element component -->      
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>
