<h2>My Heroes</h2>
<div>
    <!-- #heroName is a reference variable which contain informations about the DOM element (here the input)-->
    <label>Hero name:</label> <input type="text" placeholder="Enter a new name" #heroName />
    <!-- we get the value of the input reference (avoid creating a NgModel) and clean it after-->
    <button (click)="add(heroName.value); heroName.value=''">
        Add
    </button>
</div>

<ul class="heroes">
    <!-- * is needed and indicates that <li> and children are a master template -->
    <!-- Use proprety binding to add "selected" css class if hero === selectedHero -->
    <!-- call onSelect() method when we click on the <li> and pass the hero to the function -->
    <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> 
        <span>{{hero.name}}</span>
        <!-- call "click" event then stop propagation to avoid triggering the parent <li> "click" event -->
        <button class="delete"
            (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>

<!-- =============================================  
    V1 all in one route
-->
<!-- my-hero-detail tag bind data with the HeroDetailComponent and pass the selectedHero value to the hero property -->
<!-- <my-hero-detail [hero]="selectedHero"></my-hero-detail> -->